* {
  margin: 0;
  padding: 0;
}

.wf-active body {
  font-family: "Lilita One";
}

.wf-active header {
  visibility: visible;
}

body {
  background-color: teal;
}

.timer {
  margin-bottom: 30px;
}

header {
  visibility: hidden;
  color: rgb(36, 36, 36);
  font-size: 32px;
  margin-bottom: 70px;
  letter-spacing: 0.2em;
  text-align: center;
}

#wrapper {
  margin: 0 auto;
  width: 50vw;
  height: 100vh;
  background-color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 8px 6px rgb(0, 92, 92);
}

#board {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 50vw;
}

.field {
  position: relative;
  margin: 10px;
  box-shadow: 1px 1px 5px 2px rgb(180, 180, 180);
  border: solid 1px rgb(36, 36, 36);
  border-radius: 3px;
}

.front {
  background-color: rgb(131, 60, 74);
}

.front,
.back {
  position: absolute;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 570px) {
  .field {
    width: 40px;
    height: 40px;
  }
}

@media screen and (min-width: 571px) and (max-width: 669px) {
  .field {
    width: 45px;
    height: 45px;
  }
}

@media screen and (min-width: 670px) and (max-width: 755px) {
  #board {
    height: 48vh;
  }
  .field {
    width: 57px;
    height: 57px;
  }
}

@media screen and (min-width: 756px) and (max-width: 864px) {
  #board {
    height: 54vh;
  }
  .field {
    width: 65px;
    height: 65px;
  }
}

@media screen and (min-width: 865px) and (max-width: 900px) {
  #board {
    height: 60vh;
  }
  .field {
    width: 71px;
    height: 71px;
  }
}

@media screen and (min-width: 901px) {
  #board {
    width: 35vw;
    height: 60vh;
  }
  .field {
    width: 80px;
    height: 80px;
  }
}
